.sign-in,
.sign-up {
  justify-content: center;
  .title-page {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: $red-fa6e4f;
    font-weight: 600;
  }
  .label-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  h3 {
    margin-top: 10px;
  }
}
