$main-color: #b0e0e6 !important;
$text-color: #333;
$white-color: #fff;
$green-color: #00ff00;
$red-fa6e4f: #fa6e4f;
$red-color: #ff0000;
$red-c8583f: #c8583f;
$gray-color: #ccc;
$gray-a7aeb4: #a7aeb4;
$gray-eaebed: #eaebed;
