<div class="mt-4 admin-home">
  <h1 class="page-title">Tổng quan</h1>
  <div class="box-manage">
    <a class="box-el" href="/admin/list-user">
      <div class="box-title">Danh sách tài khoản</div>
      <div class="box-bot">
        <i class="fas fa-user"></i>
        <span>{{totalUser}}</span>
      </div>
    </a>
    <a class="box-el" href="/admin/list-product">
      <div class="box-title">Danh sách sản phẩm</div>
      <div class="box-bot">
        <i class="fas fa-gift"></i>
        <span>{{totalProduct}}</span>
      </div>
    </a>
    <a class="box-el" href="/admin/list-order">
      <div class="box-title">Danh sách đơn hàng</div>
      <div class="box-bot">
        <i class="fas fa-shopping-cart"></i>
        <span>{{totalOrder}}</span>
      </div>
    </a>
    <a class="box-el" href="/admin/revenue-statistics">
      <div class="box-title">Thống kê doanh thu</div>
      <div class="box-bot">
        <i class="fas fa-chart-bar"></i>
      </div>
    </a>
  </div>
</div>