<div class="mt-4 list-product">
  <h2 class="page-title">Danh sách tài khoản</h2>
  {{!-- <a class="btn-nav" href="/admin/create-product" role="button">Thêm sản phẩm mới</a> --}}
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tài khoản</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.username}}</td>
        <td>{{formatDate this.createdAt}}</td>
        <td>
          <a href="" class="btn btn-link" data-id="/list-user/{{this._id}}" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- delete modal --}}
<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa tài khoản?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa tài khoản này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-product-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var productID;
    var deleteForm = document.forms['delete-product-form']
    var btnDeleteProduct = document.getElementById('btn-delete-product')
    
    $('#delete-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      productID = button.data('id')
    })

    btnDeleteProduct.onclick = function () {
      deleteForm.action = '/admin/' + productID + '?_method=DELETE'
      deleteForm.submit();
    }
  })
</script>